/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/screen.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 7, ../sass/screen.scss */
body {
  background-color: #e8e2d2;
}

/* line 12, ../sass/screen.scss */
#wrapper {
  position: relative;
}

/* line 15, ../sass/screen.scss */
ul {
  padding: 0;
  margin: 0;
}

/* line 19, ../sass/screen.scss */
li {
  list-style: none;
}

/* line 22, ../sass/screen.scss */
p {
  padding: 0;
  margin: 0;
}

/* line 26, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 29, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 33, ../sass/screen.scss */
.header {
  position: relative;
  top: 20px;
  height: 130px;
  margin-bottom: 30px;
}

/* line 40, ../sass/screen.scss */
.container {
  font-family: sans-serif;
  width: 984px;
  margin: 0 auto;
}

/*----------!!------------header------*/
/* line 49, ../sass/screen.scss */
.header_top {
  height: 90px;
}

/* line 52, ../sass/screen.scss */
.header_logo {
  float: left;
}

/* line 55, ../sass/screen.scss */
.logo_pic {
  display: block;
  max-width: 233px;
  max-height: 70px;
}

/* line 60, ../sass/screen.scss */
.header_right {
  float: right;
  text-align: right;
}

/* line 64, ../sass/screen.scss */
.header_menu {
  padding-top: 15px;
}

/* line 67, ../sass/screen.scss */
.header_menu ul li {
  display: inline;
  text-align: justify;
  padding-right: 6px;
}

/* line 73, ../sass/screen.scss */
.menu_link {
  color: #209a28;
}

/* line 76, ../sass/screen.scss */
.header_navigation {
  height: 40px;
  width: 1000px;
  font-family: sans-serif;
  font-size: 15px;
  border: 1px solid #0c932f;
  border-radius: 5px;
  box-shadow: inset 1px 1px 0px 0px #81de41;
  background: #65c03d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #65c03d 0%, #65c03d 0%, #10951b 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #65c03d 0%, #65c03d 0%, #10951b 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #65c03d 0%, #65c03d 0%, #10951b 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65c03d', endColorstr='#10951b',GradientType=0 );
  /* IE6-9 */
}

/* line 93, ../sass/screen.scss */
.navigation {
  text-align: justify;
}

/* line 99, ../sass/screen.scss */
.navigation_item {
  padding-left: 25px;
  padding-right: 10px;
  display: inline-block;
}

/* line 104, ../sass/screen.scss */
.navigation_link {
  display: block;
  padding-top: 10px;
  color: #ffffff;
  text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
}

/*-------bradcrumbs-------------*/
/* line 112, ../sass/screen.scss */
.breadcrumbs_item {
  display: inline-block;
  padding-top: 15px;
  padding-left: 20px;
}

/* line 117, ../sass/screen.scss */
.breadcrumbs_link {
  color: #209a28;
}

/*------------Content============*/
/* line 122, ../sass/screen.scss */
.content {
  position: relative;
  top: 10px;
  height: 100%;
  border-radius: 5px;
  background-color: #ffffff;
}

/* line 130, ../sass/screen.scss */
.sidebar {
  float: left;
}

/* line 133, ../sass/screen.scss */
.main {
  position: relative;
  top: 15px;
  left: 17px;
  width: 705px;
}

/*------------------SLIDER-----------------*/
/* line 140, ../sass/screen.scss */
.slider {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 266px;
}

/* line 146, ../sass/screen.scss */
.slides {
  list-style-type: none;
}

/* line 150, ../sass/screen.scss */
.slide {
  position: absolute;
  left: -190px;
  top: -40px;
}

/*----------------Slider Menu------------*/
/* line 156, ../sass/screen.scss */
.slider_side_menu {
  color: #fff;
  position: relative;
  width: 235px;
  height: 100%;
  left: 100%;
  margin-left: -235px;
  background-color: rgba(31, 29, 20, 0.9);
}

/* line 166, ../sass/screen.scss */
.menu_container {
  position: relative;
  top: 22px;
  left: 13px;
}

/* line 172, ../sass/screen.scss */
.our {
  font-size: 16px;
}

/* line 176, ../sass/screen.scss */
.slider_menu_theme {
  position: relative;
  top: 10px;
  font-size: 23px;
  color: #28b028;
}

/* line 182, ../sass/screen.scss */
.slider_menu_content {
  font-size: 15px;
  padding-top: 20px;
}

/* line 186, ../sass/screen.scss */
.slider_menu_link {
  font-size: 15px;
  color: #28b028;
}

/* line 191, ../sass/screen.scss */
.dots {
  padding-top: 15px;
}

/* line 197, ../sass/screen.scss */
.dot {
  cursor: pointer;
  line-height: 20px;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  background-color: #6b685e;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  box-shadow: inset 1px -1px 0px 0px #c0baa6;
}

/* line 212, ../sass/screen.scss */
.active, dot:hover {
  text-align: center;
  line-height: 26px;
  width: 26px;
  height: 26px;
  background-image: -webkit-linear-gradient(bottom, #1A7912 0%, #67CB45 100%);
  text-align: center;
}

/* line 221, ../sass/screen.scss */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .6;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: .6;
  }
  to {
    opacity: 1;
  }
}
/*--------tabs---------*/
/* line 237, ../sass/screen.scss */
.tabs_header {
  position: relative;
  height: 120px;
  top: 30px;
  font-family: sans-serif;
}

/* line 243, ../sass/screen.scss */
.tabs_header_theme {
  width: 462px;
  font-size: 20px;
  font-family: sans-serif;
}

/* line 248, ../sass/screen.scss */
.tabs_header_content {
  position: relative;
  width: 462px;
  top: 20px;
  font-size: 12px;
}

/* line 254, ../sass/screen.scss */
.tabs_header_link {
  color: #28b028;
  text-decoration: underline;
}

/* line 258, ../sass/screen.scss */
.tabs_header_decor {
  position: relative;
  height: 132px;
  padding-right: 62px;
  margin-top: -42px;
  float: right;
}

/*----------------TABS------------------*/
/* line 267, ../sass/screen.scss */
.tab_selector {
  height: 45px;
}

/* line 272, ../sass/screen.scss */
#first_tab {
  border: 1px solid #cfcdc5;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

/* line 277, ../sass/screen.scss */
#last_tab {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 283, ../sass/screen.scss */
#tabs .tab {
  -webkit-box-shadow: inset 0px -2px 0px 0px white;
  -moz-box-shadow: inset 0px -2px 0px 0px white;
  box-shadow: inset 0px -2px 0px 0px white;
  background: #ffffff;
  /* Old browsers */
  background: -webkit-linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  background: -o-linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  background: linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f3f1',GradientType=0 );
  /* IE6-9 */
  text-align: center;
  line-height: 38px;
  border-top: 1px solid #cfcdc5;
  border-bottom: 1px solid #cfcdc5;
  border-right: 1px solid #cfcdc5;
  display: inline-block;
  width: 234px;
  height: 38px;
  position: relative;
  cursor: pointer;
}

/* line 308, ../sass/screen.scss */
#tabs .chosen_tab {
  color: #fff;
  border-color: #0c932f;
  color: #ffffff;
  text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
  box-shadow: inset 1px 1px 0px 0px #81de41;
  background: #65c03d;
  /* Old browsers */
  background: -webkit-linear-gradient(#65c03d 0%, #65c03d 0%, #10951b 99%);
  background: -o-linear-gradient(#65c03d 0%, #65c03d 0%, #10951b 99%);
  background: linear-gradient(#65c03d 0%, #65c03d 0%, #10951b 99%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65c03d', endColorstr='#10951b',GradientType=0 );
  /* IE6-9 */
}

/* line 320, ../sass/screen.scss */
.tab_content {
  height: 100%;
  position: relative;
  z-index: 1;
}

/* line 329, ../sass/screen.scss */
.hide {
  display: none;
}

/* line 332, ../sass/screen.scss */
.show {
  height: 100%;
  display: block;
}

/*--------------TABS CONTENT---------------*/
/* line 339, ../sass/screen.scss */
.tab_content_container {
  position: relative;
  top: 15px;
  width: 100%;
  text-align: justify;
}
/* line 344, ../sass/screen.scss */
.tab_content_container :after {
  content: "";
  display: inline-block;
  height: 0px;
  width: 100%;
}

/* line 354, ../sass/screen.scss */
.tab_content_box {
  position: relative;
  height: 250px;
  width: 220px;
  display: inline-block;
}

/* line 364, ../sass/screen.scss */
.img_window {
  position: relative;
  height: 105px;
  width: 220px;
  border: 3px solid #e9e6df;
  border-radius: 5px;
  overflow: hidden;
}

/* line 375, ../sass/screen.scss */
.tab_content_box_img {
  position: relative;
  left: -135px;
  top: -110px;
}

/* line 380, ../sass/screen.scss */
.tab_content_box_theme {
  text-align: left;
  padding-top: 10px;
  font-weight: bold;
}

/* line 385, ../sass/screen.scss */
.tab_content_box_text {
  text-align: left;
  padding-top: 10px;
  font-size: 13px;
  height: 128px;
}

/*---------------SIDEBAR--------------*/
/* line 392, ../sass/screen.scss */
.sidebar {
  float: right;
  height: 100%;
  background-color: #f4f2ec;
  border: 1px solid #fff;
  border-radius: 0 5px 5px 0;
}

/* line 402, ../sass/screen.scss */
.sidebar_search_container {
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
  border-bottom: 1px solid #e1dbce;
  border-left: 1px solid #e1dbce;
}

/* line 409, ../sass/screen.scss */
.sidebar_search {
  font-size: 14px;
}

/* line 414, ../sass/screen.scss */
.selectors {
  padding-top: 20px;
}

/* line 418, ../sass/screen.scss */
.selector {
  height: 25px;
  width: 200px;
  border-radius: 5px;
  color: #999999;
  -webkit-box-shadow: inset 0px -2px 0px 0px white;
  -moz-box-shadow: inset 0px -2px 0px 0px white;
  box-shadow: inset 0px -2px 0px 0px white;
  background: #ffffff;
  /* Old browsers */
  background: -webkit-linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  background: -o-linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  background: linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f3f1',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #cfcdc5;
  -webkit-box-shadow: 0px 0px 0px 4px #e8e5de;
  -moz-box-shadow: 0px 0px 0px 4px #e8e5de;
  box-shadow: 0px 0px 0px 4px #e8e5de;
}

/* line 437, ../sass/screen.scss */
.selector:hover {
  color: #231f20;
}

/* line 440, ../sass/screen.scss */
.sidebar_search_button {
  position: relative;
  padding-top: 20px;
}

/* line 446, ../sass/screen.scss */
.sidebar_search_item {
  padding: 0;
  position: relative;
  background: no-repeat;
  width: 202px;
  height: 40px;
  border: none;
}

/* line 455, ../sass/screen.scss */
.search_img {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 461, ../sass/screen.scss */
.quick_search {
  font-size: 14px;
  padding-top: 22px;
}

/* line 466, ../sass/screen.scss */
.quick_search_enter {
  padding-top: 10px;
  margin-bottom: 25px;
}

/* line 471, ../sass/screen.scss */
.quick_search_input {
  font-size: 12px;
  width: 116px;
  height: 25px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px -2px 0px 0px white;
  -moz-box-shadow: inset 0px -2px 0px 0px white;
  box-shadow: inset 0px -2px 0px 0px white;
  background: #ffffff;
  /* Old browsers */
  background: -webkit-linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  background: -o-linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  background: linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f3f1',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #cfcdc5;
  -webkit-box-shadow: 0px 0px 0px 4px #e8e5de;
  -moz-box-shadow: 0px 0px 0px 4px #e8e5de;
  box-shadow: 0px 0px 0px 4px #e8e5de;
  margin-bottom: 25px;
}

/* line 491, ../sass/screen.scss */
.quick_search_button {
  float: right;
  width: 65px;
  height: 25px;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  border: 1px solid #0c932f;
  border-radius: 5px;
  box-shadow: inset 1px 1px 0px 0px #81de41;
  background: #65c03d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #65c03d 0%, #65c03d 0%, #10951b 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #65c03d 0%, #65c03d 0%, #10951b 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #65c03d 0%, #65c03d 0%, #10951b 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65c03d', endColorstr='#10951b',GradientType=0 );
  /* IE6-9 */
  font-size: 12px;
  color: #ffffff;
  text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
}

/* line 512, ../sass/screen.scss */
.quick_search_button_container {
  float: right;
  border-radius: 5px;
  position: relative;
  width: 65px;
  height: 25px;
  -webkit-box-shadow: 0px 0px 0px 4px #e8e5de;
  -moz-box-shadow: 0px 0px 0px 4px #e8e5de;
  box-shadow: 0px 0px 0px 4px #e8e5de;
}

/* line 523, ../sass/screen.scss */
.newsletter {
  border-bottom: 1px solid #e1dbce;
  border-left: 1px solid #e1dbce;
}

/* line 530, ../sass/screen.scss */
.newsletter_container {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
  width: 255px;
  margin-bottom: 25px;
}

/* line 538, ../sass/screen.scss */
.newsletter_content {
  padding-top: 12px;
}

/* line 543, ../sass/screen.scss */
.newsletter_input_container_email {
  padding-top: 15px;
}

/* line 547, ../sass/screen.scss */
.newsletter_input_email {
  font-size: 12px;
  width: 100%;
  height: 25px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px -2px 0px 0px white;
  -moz-box-shadow: inset 0px -2px 0px 0px white;
  box-shadow: inset 0px -2px 0px 0px white;
  background: #ffffff;
  /* Old browsers */
  background: -webkit-linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  background: -o-linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  background: linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f3f1',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #cfcdc5;
  -webkit-box-shadow: 0px 0px 0px 4px #e8e5de;
  -moz-box-shadow: 0px 0px 0px 4px #e8e5de;
  box-shadow: 0px 0px 0px 4px #e8e5de;
}

/* line 566, ../sass/screen.scss */
.newsletter_input_container_name {
  padding-top: 15px;
}

/* line 569, ../sass/screen.scss */
.newsletter_input_name {
  font-size: 12px;
  width: 116px;
  height: 25px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px -2px 0px 0px white;
  -moz-box-shadow: inset 0px -2px 0px 0px white;
  box-shadow: inset 0px -2px 0px 0px white;
  background: #ffffff;
  /* Old browsers */
  background: -webkit-linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  background: -o-linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  background: linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f3f1',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #cfcdc5;
  -webkit-box-shadow: 0px 0px 0px 4px #e8e5de;
  -moz-box-shadow: 0px 0px 0px 4px #e8e5de;
  box-shadow: 0px 0px 0px 4px #e8e5de;
}

/* line 589, ../sass/screen.scss */
.newsletter_button {
  float: right;
  width: 65px;
  height: 25px;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  border: 1px solid #0c932f;
  border-radius: 5px;
  box-shadow: inset 1px 1px 0px 0px #81de41;
  background: #65c03d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #65c03d 0%, #65c03d 0%, #10951b 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #65c03d 0%, #65c03d 0%, #10951b 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #65c03d 0%, #65c03d 0%, #10951b 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65c03d', endColorstr='#10951b',GradientType=0 );
  /* IE6-9 */
  font-size: 12px;
  color: #ffffff;
  text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
}

/* line 610, ../sass/screen.scss */
.newsletter_button_container {
  float: right;
  border-radius: 5px;
  position: relative;
  width: 65px;
  height: 25px;
  -webkit-box-shadow: 0px 0px 0px 4px #e8e5de;
  -moz-box-shadow: 0px 0px 0px 4px #e8e5de;
  box-shadow: 0px 0px 0px 4px #e8e5de;
}

/* line 622, ../sass/screen.scss */
.latest_news_container {
  font-size: 14px;
  text-decoration: none;
  width: 255px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

/* line 630, ../sass/screen.scss */
.latest_news_header {
  margin-bottom: 15px;
}

/* line 633, ../sass/screen.scss */
.latest_new {
  font-weight: bold;
}

/* line 636, ../sass/screen.scss */
.latest_new_link {
  padding-top: 7px;
  margin-bottom: 25px;
}
