/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/screen.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 6, ../sass/screen.scss */
body {
  background-color: #e8e2d2;
}

/* line 9, ../sass/screen.scss */
#wrapper {
  position: relative;
}

/* line 12, ../sass/screen.scss */
ul {
  padding: 0;
  margin: 0;
}

/* line 16, ../sass/screen.scss */
li {
  list-style: none;
}

/* line 19, ../sass/screen.scss */
p {
  padding: 0;
  margin: 0;
}

/* line 23, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 26, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 30, ../sass/screen.scss */
.header {
  position: relative;
  top: 20px;
  height: 130px;
  margin-bottom: 30px;
}

/* line 37, ../sass/screen.scss */
.container {
  font-family: sans-serif;
  width: 1000px;
  margin: 0 auto;
}

/*----------!!------------header------*/
/* line 46, ../sass/screen.scss */
.header_top {
  height: 90px;
}

/* line 49, ../sass/screen.scss */
.header_logo {
  float: left;
}

/* line 52, ../sass/screen.scss */
.logo_pic {
  display: block;
  max-width: 233px;
  max-height: 70px;
}

/* line 57, ../sass/screen.scss */
.header_right {
  float: right;
  text-align: right;
}

/* line 61, ../sass/screen.scss */
.header_menu {
  padding-top: 15px;
}

/* line 64, ../sass/screen.scss */
.header_menu ul li {
  display: inline;
  text-align: justify;
  padding-right: 6px;
}

/* line 70, ../sass/screen.scss */
.menu_link {
  color: #209a28;
}

/* line 73, ../sass/screen.scss */
.header_navigation {
  height: 40px;
  width: 1000px;
  font-family: sans-serif;
  font-size: 15px;
  border: 1px solid #0c932f;
  border-radius: 5px;
  box-shadow: inset 1px 1px 0px 0px #81de41;
  background: #65c03d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #65c03d 0%, #65c03d 0%, #10951b 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #65c03d 0%, #65c03d 0%, #10951b 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #65c03d 0%, #65c03d 0%, #10951b 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65c03d', endColorstr='#10951b',GradientType=0 );
  /* IE6-9 */
}
/* line 87, ../sass/screen.scss */
.header_navigation:after {
  content: "";
  display: inline-block;
  height: 0;
}

/* line 97, ../sass/screen.scss */
.navigation {
  text-align: justify;
}

/* line 103, ../sass/screen.scss */
.navigation_item {
  padding-left: 25px;
  padding-right: 10px;
  display: inline-block;
}

/* line 108, ../sass/screen.scss */
.navigation_link {
  display: block;
  padding-top: 10px;
  color: #ffffff;
  text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
}

/*-------bradcrumbs-------------*/
/* line 116, ../sass/screen.scss */
.breadcrumbs_item {
  display: inline-block;
  padding-top: 15px;
  padding-left: 20px;
}

/* line 121, ../sass/screen.scss */
.breadcrumbs_link {
  color: #209a28;
}

/*------------Content============*/
/* line 126, ../sass/screen.scss */
.content {
  position: relative;
  top: 10px;
  height: 100%;
  border-radius: 5px;
  background-color: #ffffff;
}

/* line 134, ../sass/screen.scss */
.sidebar {
  float: left;
}

/* line 137, ../sass/screen.scss */
.main {
  position: relative;
  top: 15px;
  left: 17px;
  width: 705px;
}

/*------------------SLIDER-----------------*/
/* line 144, ../sass/screen.scss */
.slider {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 266px;
}

/* line 150, ../sass/screen.scss */
.slides {
  list-style-type: none;
}

/* line 154, ../sass/screen.scss */
.slide {
  position: absolute;
  left: -190px;
  top: -40px;
}

/*----------------Slider Menu------------*/
/* line 160, ../sass/screen.scss */
.slider_side_menu {
  color: #fff;
  position: relative;
  width: 235px;
  height: 100%;
  left: 100%;
  margin-left: -235px;
  background-color: rgba(31, 29, 20, 0.9);
}

/* line 170, ../sass/screen.scss */
.menu_container {
  padding-top: 22px;
  padding-left: 13px;
}

/* line 176, ../sass/screen.scss */
.our {
  font-size: 16px;
}

/* line 180, ../sass/screen.scss */
.slider_menu_theme {
  padding-top: 10px;
  font-size: 23px;
  color: #28b028;
}

/* line 185, ../sass/screen.scss */
.slider_menu_content {
  font-size: 15px;
  padding-top: 20px;
}

/* line 189, ../sass/screen.scss */
.slider_menu_link {
  font-size: 15px;
  color: #28b028;
}

/* line 194, ../sass/screen.scss */
.dots {
  padding-top: 15px;
}

/* line 200, ../sass/screen.scss */
.dot {
  cursor: pointer;
  line-height: 20px;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  background-color: #6b685e;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  box-shadow: inset 1px -1px 0px 0px #c0baa6;
}

/* line 215, ../sass/screen.scss */
.active, dot:hover {
  text-align: center;
  line-height: 26px;
  width: 26px;
  height: 26px;
  background-image: -webkit-linear-gradient(bottom, #1A7912 0%, #67CB45 100%);
  text-align: center;
}

/* line 224, ../sass/screen.scss */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .6;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: .6;
  }
  to {
    opacity: 1;
  }
}
/*--------tabs---------*/
/* line 240, ../sass/screen.scss */
.tabs_header {
  height: 120px;
  padding-top: 30px;
  font-family: sans-serif;
}

/* line 246, ../sass/screen.scss */
.tabs_header_theme {
  width: 462px;
  font-size: 20px;
  font-family: sans-serif;
}

/* line 251, ../sass/screen.scss */
.tabs_header_content {
  width: 462px;
  padding-top: 20px;
  font-size: 12px;
}

/* line 256, ../sass/screen.scss */
.tabs_header_link {
  color: #28b028;
  text-decoration: underline;
}

/* line 260, ../sass/screen.scss */
.tabs_header_decor {
  position: relative;
  height: 132px;
  padding-right: 62px;
  margin-top: -42px;
  float: right;
}

/*----------------TABS------------------*/
/* line 269, ../sass/screen.scss */
.tab_selector {
  height: 45px;
}

/* line 274, ../sass/screen.scss */
#first_tab {
  border: 1px solid #cfcdc5;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

/* line 279, ../sass/screen.scss */
#last_tab {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 285, ../sass/screen.scss */
#tabs .tab {
  -webkit-box-shadow: inset 0px -2px 0px 0px white;
  -moz-box-shadow: inset 0px -2px 0px 0px white;
  box-shadow: inset 0px -2px 0px 0px white;
  background: #ffffff;
  /* Old browsers */
  background: -webkit-linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  background: -o-linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  background: linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f3f1',GradientType=0 );
  /* IE6-9 */
  text-align: center;
  line-height: 38px;
  border-top: 1px solid #cfcdc5;
  border-bottom: 1px solid #cfcdc5;
  border-right: 1px solid #cfcdc5;
  display: inline-block;
  width: 234px;
  height: 38px;
  position: relative;
  cursor: pointer;
}

/* line 310, ../sass/screen.scss */
#tabs .chosen_tab {
  color: #fff;
  border-color: #0c932f;
  color: #ffffff;
  text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
  box-shadow: inset 1px 1px 0px 0px #81de41;
  background: #65c03d;
  /* Old browsers */
  background: -webkit-linear-gradient(#65c03d 0%, #65c03d 0%, #10951b 99%);
  background: -o-linear-gradient(#65c03d 0%, #65c03d 0%, #10951b 99%);
  background: linear-gradient(#65c03d 0%, #65c03d 0%, #10951b 99%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65c03d', endColorstr='#10951b',GradientType=0 );
  /* IE6-9 */
}

/* line 322, ../sass/screen.scss */
.tabContent {
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 10px;
  border-radius: 0 0 3px 3px;
}

/* line 330, ../sass/screen.scss */
.hide {
  display: none;
}

/* line 333, ../sass/screen.scss */
.show {
  display: block;
}
