@import "compass/reset";
html {
  width: 100%;
  height: 100%; }

body {
  background-color: #e8e2d2; }

#wrapper {
  position: relative; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }


.header{

	position: relative;
	top: 20px;
	height:130px;
	margin-bottom: 30px;
}
.container {
	font-family:sans-serif;
  width: 1000px;
  margin: 0 auto; }




/*----------!!------------header------*/
.header_top {
  height: 90px; }

.header_logo {
  float: left; }

.logo_pic {
  display: block;
  max-width: 233px;
  max-height: 70px; }

.header_right {
  float: right;
  text-align: right; }

.header_menu {
  padding-top: 15px; }

.header_menu ul li {
  display: inline;
  text-align: justify;

  padding-right: 6px; }

.menu_link {
  color: #209a28; }

.header_navigation {
  height: 40px;
  width: 1000px;
  font-family:sans-serif;
  font-size: 15px;
  border: 1px solid #0c932f;
  border-radius: 5px;

 box-shadow: inset 1px 1px 0px 0px rgba(129,222,65,1);
background: #65c03d; /* Old browsers */
background: -moz-linear-gradient(top, #65c03d 0%, #65c03d 0%, #10951b 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #65c03d 0%,#65c03d 0%,#10951b 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #65c03d 0%,#65c03d 0%,#10951b 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65c03d', endColorstr='#10951b',GradientType=0 ); /* IE6-9 */
&:after{

		content:"";
		display: inline-block;
		height: 0;
		
		
	}
}

.navigation {
	text-align: justify;
	


}
.navigation_item {
	padding-left: 25px;
	padding-right: 10px;
  display: inline-block }

.navigation_link {
	display: block;
	padding-top: 10px;

  color: #ffffff; 
  text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
}
/*-------bradcrumbs-------------*/
.breadcrumbs_item{
	display: inline-block;
	padding-top:15px;
	padding-left:20px;
}
.breadcrumbs_link{
	color:#209a28;
}

/*------------Content============*/
.content{
	position: relative;
	top:10px;
	height:100%;
	border-radius: 5px;
	background-color: #ffffff;
	
}
.sidebar{
	float:left;
}
.main{
	position: relative;
	top:15px;
	left:17px;
	width: 705px;
}
/*------------------SLIDER-----------------*/
.slider{
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	height:266px;
}
.slides{
	
	list-style-type: none;
}
.slide{
	position: absolute;
	left:-190px;
	top:-40px;
}
/*----------------Slider Menu------------*/
.slider_side_menu{
	color:#fff;
	position: relative;
	width:235px;
	height:100%;
	left:100%;
	margin-left:-235px;
	background-color: rgba(31, 29, 20, 0.9);
}

.menu_container {
	
	padding-top:22px;
	padding-left:13px;
}

.our {
	font-size: 16px;

}
.slider_menu_theme{
	padding-top:10px;
	font-size: 23px;
	color:#28b028;
}
.slider_menu_content{
	font-size: 15px;
	padding-top:20px;
}
.slider_menu_link{
	font-size: 15px;
	color:#28b028;
}

.dots{
	padding-top: 15px;

	

}
.dot{
	cursor: pointer;
	line-height: 20px;
	height: 20px;
	width: 20px;
	margin: 0 2px;
	color:#fff;
	text-align: center;
	font-size: 13px;
	background-color:#6b685e;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	box-shadow: inset 1px -1px 0px 0px rgba(192,186,166,1);
}
.active, dot:hover{
	text-align: center;
	line-height:26px;
	width:26px;
	height:26px;
	background-image: -webkit-linear-gradient(bottom, #1A7912 0%, #67CB45 100%);
	text-align: center;
	
}
.fade{
	-webkit-animation-name:fade;
	-webkit-animation-duration:2s;
	animation-name: fade;
	animation-duration: 2s;
}
@-webkit-keyframes fade{
	from{opacity:.6}
	to{opacity:1}
}
@keyframes fade{
	from{opacity:.6}
	to{opacity:1}
}

/*--------tabs---------*/
.tabs_header{
	
	height: 120px;
	padding-top: 30px;
	font-family: sans-serif;
}
.tabs_header_theme{
	width:462px;
	font-size: 20px;
	font-family: sans-serif;
}
.tabs_header_content{
	width:462px;
	padding-top: 20px;
	font-size: 12px
}
.tabs_header_link{
	color:#28b028;
	text-decoration: underline;
}
.tabs_header_decor{
	position: relative;
	height:132px;
	padding-right: 62px;
	margin-top: -42px;
	float: right;
}
/*----------------TABS------------------*/

.tab_selector {
	height: 45px;
	
}

#first_tab{
	border:1px solid #cfcdc5;
	border-bottom-left-radius:5px; 
	border-top-left-radius:5px;
}
#last_tab{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}	
	

#tabs .tab{
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(255,255,255,1);
	box-shadow: inset 0px -2px 0px 0px rgba(255,255,255,1);
	background: #ffffff; /* Old browsers */
background: -webkit-linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
background: -o-linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%);
background: linear-gradient(#ffffff 0%, #ffffff 50%, #ffffff 51%, #f4f3f1 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f3f1',GradientType=0 ); /* IE6-9 */
	text-align: center;
	line-height: 38px;
	border-top:1px solid #cfcdc5;	
	border-bottom: 1px solid #cfcdc5;
	border-right:1px solid #cfcdc5;

	display: inline-block;
	
	width:234px;
	height: 38px;
	position: relative;
	cursor: pointer;
	


}
#tabs .chosen_tab{
	color:#fff;
	border-color: #0c932f;		
	color: #ffffff; 
 	text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
	box-shadow: inset 1px 1px 0px 0px rgba(129,222,65,1);
	background: #65c03d; /* Old browsers */
background: -webkit-linear-gradient(#65c03d 0%, #65c03d 0%, #10951b 99%);
background: -o-linear-gradient(#65c03d 0%, #65c03d 0%, #10951b 99%);
background: linear-gradient(#65c03d 0%, #65c03d 0%, #10951b 99%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65c03d', endColorstr='#10951b',GradientType=0 ); /* IE6-9 */
}
.tabContent{
	height: 100%;
	position: relative;
	z-index: 1;
	padding: 10px;
	border-radius: 0 0 3px 3px;
}

.hide{
	display: none;
}
.show{
	display: block;
}
