@import "compass/reset";
html {
  width: 100%;
  height: 100%; }

body {
  background-color: #e8e2d2; }

#wrapper {
  position: relative; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }


.header{

	position: relative;
	top: 20px;
	height:130px;
	margin-bottom: 30px;
}
.container {
  width: 1000px;
  margin: 0 auto; }




/*----------!!------------header------*/
.header_top {
  height: 90px; }

.header_logo {
  float: left; }

.logo_pic {
  display: block;
  max-width: 233px;
  max-height: 70px; }

.header_right {
  float: right;
  text-align: right; }

.header_menu {
  padding-top: 15px; }

.header_menu ul li {
  display: inline;
  text-align: justify;
  padding-right: 6px; }

.menu_link {
  color: #209a28; }

.header_navigation {
  height: 40px;
  width: 1000px;
  border: 1px solid 0c932f;
  border-radius: 5px;
  box-shadow: inset 3px 0px 5px 0px rgba(129,222,65,1);
  background: -moz-linear-gradient(271deg, #63c03d 0%, teal 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #63c03d), color-stop(100%, teal));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(271deg, #63c03d 0%, teal 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(271deg, #63c03d 0%, teal 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(271deg, #63c03d 0%, teal 100%);
  /* ie10+ */
  background: linear-gradient(179deg, #63c03d 0%, teal 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63c03d', endColorstr='#008080',GradientType=0 );
  /* ie6-9 */ 
&:after{

		content:"";
		display: inline-block;
		height: 0;
		
		
	}
}

.navigation {
	text-align: justify;
	


}
.navigation_item {
	padding-left: 25px;
	padding-right: 10px;
  display: inline-block }

.navigation_link {
	display: block;
	padding-top: 10px;

  color: #ffffff; 
  text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
}
/*-------bradcrumbs-------------*/
.breadcrumbs_item{
	display: inline-block;
	padding-top:15px;
	padding-left:20px;
}
.breadcrumbs_link{
	color:#209a28;
}

/*------------Content============*/
.content{
	position: relative;
	top:10px;
	height:966px;
	border-radius: 5px;
	background-color: #ffffff;
	
}
.sidebar{
	float:left;
}
.main{
	position: relative;
	top:15px;
	left:17px;
	width: 705px;
}
/*------------------SLIDER-----------------*/
.slider{
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	height:266px;
}
.slides{
	
	list-style-type: none;
}
.slide{
	position: absolute;
	left:-190px;
	top:-40px;
}
/*----------------Slider Menu------------*/
.slider_side_menu{
	color:#fff;
	position: relative;
	width:235px;
	height:100%;
	left:100%;
	margin-left:-235px;
	background-color: rgba(31, 29, 20, 0.9);
}

.menu_container {
	font-family:sans-serif;
	padding-top:22px;
	padding-left:13px;
}

.our {
	font-size: 16px;

}
.slider_menu_theme{
	padding-top:10px;
	font-size: 23px;
	color:#28b028;
}
.slider_menu_content{
	font-size: 15px;
	padding-top:20px;
}
.slider_menu_link{
	font-size: 15px;
	color:#28b028;
}

.dots{
	padding-top: 20px;
	

}
.dot{
	cursor: pointer;
	height: 20px;
	width: 20px;
	margin: 0 2px;
	color:#fff;
	text-align: center;
	background-color:#6b685e;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	box-shadow: inset 1px -1px 0px 0px rgba(192,186,166,1);
}
.active, dot:hover{
	width:26px;
	height:26px;
	background-image: -webkit-linear-gradient(bottom, #1A7912 0%, #67CB45 100%);
	text-align: center;
	
}
.fade{
	-webkit-animation-name:fade;
	-webkit-animation-duration:2s;
	animation-name: fade;
	animation-duration: 2s;
}
@-webkit-keyframes fade{
	from{opacity:.4}
	to{opacity:1}
}
@keyframes fade{
	from{opacity:.4}
	to{opacity:1}
}

/*--------tabs---------*/
.tabs_header{
	width:465px;
	height: 100%;
	padding-top: 30px;
	font-family: sans-serif;
}
.tabs_header_theme{
	font-size: 20px;
	font-family: sans-serif;
}
.tabs_header_content{
	padding-top: 20px;
	font-size: 12px
}
.tabs_header_link{
	color:#28b028;
	text-decoration: underline;
}
.tabs_header_decor{
	position: absolute;
	height:132px;
	left:70%;
	top:70%;
	float: left;
}